{{ template "top" .}}
<h1 class="text-red-200 font-bold">{{.Title}}</h1>

<p>{{.Description}}</p>

Tags:
<ul>
  {{ range .Tags }}<li>{{.}}</li>{{end}}
</ul>

{{.Body | safeHTML }}

{{ template "bottom" .}}
